{% load static %} 


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <!--<script src="{% static 'js/script.js' %}"></script> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <style>
  	{% block style %} 
  		h2{
	   		color:green;
  		}
  	{% endblock %}
  </style>

  {% block head %}
  {% endblock %}
</head>
<body >  
	<img src="{%static '/images/gr.jpg' %}" alt="sometng" height="200" width=100% >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <!-- <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>-->
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ home_page }}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {{ search_page }}">
          <a class="nav-link" href="{% url 'search' %}">Search</a>
        </li>
        <li class="nav-item {{ cart_page }} ">
          <a class="nav-link" href="{% url 'cart' %}">Cart</a>
        </li>
        <li class="nav-item {{ contact_page }} ">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  		<main style="padding: 10px">
      	
{% if user.is_authenticated %}

  <span style="float: right;">
    Hi {{ user.username }}!
    <a href="{% url 'logout' %}">logout</a>
  </span>
<br>
  {% block authorised %}
  {% endblock%} 

{% else %}

  {% block unauthorised %}
  <center>
    <p style="padding-top: 5px;">You are not logged in !<br>
    <a href="{% url 'login' %}">login</a></p>
  </center>

  {% endblock%}

{% endif %}

{% block content %}      
{% endblock %}
  		</main>
  
</body>
</html>