{% extends 'base.html' %}
{% load static %}
{% load svg %}


{% block title %}cart{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet"  href="{% static 'css/cart.css'%}">
   <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>

   <!-- <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow" />-->

{% endblock %}
{% block authorised %}
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        Shopping Bag
      </div>
<!--|order_by:"name"-->
      
      {% for i in items %}
      <!-- Product #3 -->
      <div id="item" class="item">
        

        <div class="image">
          <img src="{{ i.image.url}}" alt="" height="50px" width="50px" />
        </div>

        <span class="description">
          <span>{{ i.name }}</span>
          <span>{{i.description}}</span>
          <span id="price" class="price" data-price="{{i.price}}" >{{i.price}}</span>
        </span>

        <span class="quantity">
          <button class="minus-btn" type="button" name="button">
            {% svg 'minus' %}
          </button>

          <input type="text"  name="inputNumber" value="0">

          <button id="plus" class="plus-btn" type="button" name="button">
            {% svg 'plus' %}
          </button>
          <span class="total-price" id=pricevalue>0</span>

        </span>

        <!--<div class="total-price" id="total">0</div>-->
      </div>
      {% endfor %}
    </div>

    <div class="footer">
      total price
    </div>

    <script type="text/javascript">
      $('.minus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $fixedPrice = $this.closest('div').find('#price');
        var $input = $this.closest('div').find('input');
        var $price = $this.closest('div').find('#pricevalue');

        var value = parseInt($input.val());
        var price=parseInt($fixedPrice.text());

        if (value > 0) {
          value = value - 1;
        } else {
          value = 0;
        }
        //alert(price*value);
        $input.val(value);
        $price.text(price*value);

      });

      $('.plus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $fixedPrice = $this.closest('div').find('#price');
        var $input = $this.closest('div').find('input');
        var $price = $this.closest('div').find('#pricevalue');

        
        
        var value = parseInt($input.val());
        var price=parseInt($fixedPrice.text());
        //alert(price);
        if (value < 100) {
          value = value + 1;
        } else {
          value =100;
        }
        $input.val(value);
        $price.text(price*value);
               
      });

    </script>
     

{% endblock %}
