{% extends 'base.html' %}
{% load static %} 

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet"  href="{% static 'css/search.css'%}">
<script src="{% static 'js/search.js' %}"></script> 
  {% endblock %}
{% block style %} 
  		h2{
			color:green;
		}
{% endblock %}


{% block content %}
	

{% if user.is_authenticated %}

	Hi {{ user.username }}!
	<span style="float: right;"><a href="{% url 'logout' %}">logout</a></span>
	<br>{{ products }}
<br><br>
	<!--Make sure the form has the autocomplete function switched off:-->
	<form autocomplete="off" action="/add/">
  		<div class="autocomplete" style="width:300px;">
	    	<input id="myInput" type="text" name="item_name" placeholder="item">
  		</div>
  		<input type="submit">
	</form>
	<br>
	{{ bill_items }}
	<br>
	
	<table align="center">
	<tr><th>name</th><th>price</th><th>id</th></tr>
	{% autoescape off %} {{ bill }} {% endautoescape %}
	</table>

	<br>
	<script type="text/javascript">
		var items={% autoescape off %}{{ products}}{% endautoescape %};
		/*initiate the autocomplete function on the "myInput" element, and pass along the items array as possible autocomplete values:*/
		autocomplete(document.getElementById("myInput"),items);
</script>
	</script>



{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  
{% endif %}

{% endblock %}

