{% extends 'base.html' %}
{% load static %}


{% block title %}search{% endblock %}
{% block head %}
  <link rel="stylesheet"  href="{% static 'css/search.css'%}">
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
 

{% block content %} 
<center>
<div id="search">
    <!--Make sure the form has the autocomplete function switched off:-->
  	<form autocomplete="off" action="/add/">
      
  		<div class="autocomplete" style="width:300px;">
      		<input id="myInput" type="text" name="item_name" placeholder="item">
   		</div>
      <input id="submit_add" type="submit" >   
  	</form>
    <br><br>

<span style="float:left;">Submit search to obseve details !</span>
    <br><br>
    <div id="search_result" class="row" style="width: 60%" >
      <div class="image col-4">
          <img src="{{ entry.image.url}}" alt="" height="100px" width="100px" alt="dsfdsg"/>
      </div>
      
      <div class="col-4">
        <h5 style="color: red">Details</h5>
        <strong> item name:</strong>{{ entry.name }}<br>
        <strong>item id:</strong> {{ entry.id_no}}<br>
        <strong>item price:</strong>{{ entry.price}}  
      </div> 
      <div class="col-4"></div> 
    </div>
</div>
</center>


<script type="text/javascript">
  
  
  document.getElementById("search").addEventListener('click', function() {
        var items={% autoescape off %}{{ products}}{% endautoescape %};
      /*initiate the autocomplete function on the "myInput" element, and pass along the items array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"),items);
    
  }, false);
  /*$("#submit_add").click(function (argument) {
    // body...
    document.getElementById("search_result").style.display="block";

  });*/
</script>


{% endblock %}
