{% extends 'base.html' %}
{% load static %}


{% block title %}search{% endblock %}
{% block head %}
  <link rel="stylesheet"  href="{% static 'css/search.css'%}">
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
 

{% block content %} 
<center>
<div id="search">
    <!--Make sure the form has the autocomplete function switched off:-->
  	<form autocomplete="off" action="/add/">
      
  		<div class="autocomplete" style="width:300px;">
      		<input id="myInput" type="text" name="item_name" placeholder="item">
   		</div>
      <input id="submit_add" type="submit" >   
  	</form>
    <br><br>

<span style="float:left;">Submit search to obseve details !</span>
  	<table>
	
       <div class="image">
          <img src="{{ entry.image.url}}" alt="" height="100px" width="100px" alt="dsfdsg"/>
        </div>
      

<tr><th>details</th></tr>
<tr><th>item name:</th>
    <td>{{ entry.name }}</td>
</tr>
<tr><th>item id:</th>
    <td>{{ entry.id_no}}</td>
</tr>
 <tr><th>item price:</th>
    <td>{{ entry.price}}</td>
</tr>  
       
    </table>

</div>
</center>


<script type="text/javascript">

  document.getElementById("search").addEventListener('click', function() {
        var items={% autoescape off %}{{ products}}{% endautoescape %};
      /*initiate the autocomplete function on the "myInput" element, and pass along the items array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"),items);
    
  }, false);
  
</script>


{% endblock %}
